{% extends 'base.html.twig' %}

{% block title %}Hello LieuTpController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
          {{ lieuTp.name }}


        </div>
    </div>


{% endblock %}
